<h1>Welcome to Aurora Body-Guard Services for Women!</h1>
<h4>Purely for professional use only:  Strictly no sexual activities allowed.</h4>

<%= link_to 'New Client', new_agency_path %><br>
<p>Click the link above to register a new client. 'User Name' = 'guest', 'Password' = 'guest'</p>

