<h1>Welcome to The Aurora Body-Guard Services for Women Executives!</h1>

<%= link_to 'New Client', new_agency_path %><br>
<p>Click the link above to register a new client. 'User Name' = 'guest', 'Password' = 'guest'</p>

