<h1>The Aurora Security Services</h1>
<p></p>
<h2>Welcome!</h2>

<%= link_to 'New Client', new_agency_path %><br>
<p>Click the link above to register a new client. 'User Name' = 'guest', 'Password' = 'guest'</p>

