// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 25px;
    line-height: 18px;
    text-align: left;
//    font-weight: bold;
    padding: 5px 5px 10px 0px;
//    margin: -7px;
    margin-bottom: 30px;
//    background-color: #c00;
//    color: #fff;
    color: #FFD700;
}
h2 {
    text-align: left;
    padding: 5px 5px 5px 0px;
    font-size: 20px;
    margin-bottom: 30px;
    color: #FFD700;
}

